<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button action type="submit" href="https://www.google.com/search?rlz=1C1CHBF_enRU853RU853&sxsrf=ALeKk03dECspZbZTLspZM8SV274SI45WEg%3A1594930004941&ei=VLMQX7zrOOH2qwHCoImADQ&q=icon+button+bootstrap&oq=icon+button+bootstrap&gs_lcp=CgZwc3ktYWIQAzICCAAyBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIFCAAQywEyBQgAEMsBMgUIABDLATIICAAQBxAFEB4yBggAEAUQHjoECAAQRzoICAAQBxAeEBM6CggAEAcQBRAeEBNQ6Z8RWLSlEWDtphFoAHACeACAAX2IAYsEkgEDMi4zmAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwi85YqjydLqAhVh-yoKHUJQAtAQ4dUDCAw&uact=5"
>sa</button>
</body>
</html>